/*GENERAL*/

body {
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.form-resultado {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #600;
}

/*LOGIN*/

.login_background {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(transparent, #029 90%), url(../img/fondo1.jpg) center / cover;
}

.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #fffb;
    padding: 20px;
    width: 40vw;
    box-shadow: 0 10px 15px 8px;
    min-width: 300px;
    max-width: 400px;
}

.login_title {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #039;
    padding: 0 30px;
}

.login_fieldset {
    margin: auto;
    border-radius: 30px;
    border: 2px solid #003;
    margin: 0 10px;
    height: 80%;
    width: 90%;
}

.login_block_content {
    width: 93%;
    margin: 20px 0;
}

.login_label {
    display: block;
    width: 100%;
    color: #049;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 18px;
}

.login_input {
    position: relative;
    background: transparent;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 3px #049 solid;
    color: #049;
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    transition-property: border, box-shadow, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.login_input:focus-within {
    border: 3px solid #04a;
    box-shadow: 0 5px 10px #003;
    outline: none;
    transform: scale(1.05);
}

.login_password {
    margin: 2px 0 0 0;
    border: transparent;
    height: 80%;
    color: #049;
    width: 80%;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
}

.login_password:focus, .input_password:focus {
    border: transparent;
    outline: none;
}

.eye-icon {
    position: absolute;
    top: 20%;
    left: 85%;
    background: url('../img/icons/eye.png') center / contain no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;    /* permite que se comporte como un ícono */
    cursor: pointer;
}

#error-container {
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    color: #600;
    background-color: #f99;
    text-align: center;
    margin: 0 auto;

    /* ✅ Estas son las claves para centrarlo dentro de un contenedor flex */
    align-self: center;       /* Centra dentro del flex padre */
    order: 2;                /* Lo coloca antes que los inputs si es necesario */
}


#error-container:empty {
    display: none;
}

.input-error {
    border: 3px solid #c00 !important; /* Rojo fuerte */
}


.login_submit {
    display: block;
    margin: 10px auto 0 auto;
    cursor: pointer;
    width: 98%;
    height: 45px;
    border: 3px solid #049;
    border-radius: 10px;
    background: #049;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition-property: background, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.login_submit:hover {
    background: #029;
    box-shadow: 0 5px 10px #003;
}

.login_submit:active {
    background: #fff;
    color: #039;
    border: 3px solid #039;
}

.login_link {
    text-decoration: none;
    color: #049;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.login_link:hover {
    text-decoration: underline;
}

/*------INICIO---------*/

.inicio-background {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/*ELEMENTOS DEL BANNER*/

.inicio-banner {
    flex: 1 1 100vw;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 4px 10px #003;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
}

.main-container {
    flex: 0 1 20%;
    min-width: 150px;
    height: 90%;
    width: 20%;
    max-width: 250px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    overflow: hidden;
}


.content {
    flex: 1 1 80%;
    min-width: 100px;
    background: #fff;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    
}

/*ELEMENTOS DEL TITULO*/

.inicio-title-block {
    background: #049;
    flex: 1 1 35%;
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-icon {
    flex: 0 1 50%;
    height: 100%;
    margin: 0 5px;
    background: url("../img/logo-uni.png") center / contain no-repeat;
}

.inicio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50px;
    border: 0.4vw solid #fff;
    border-radius: 14px;
    color: #fff;
    text-transform: uppercase;
    font-size: 3vw;
    min-width: auto;
    max-width: 100%;
    overflow: hidden;
    margin: 0 3px;
}

/*ELEMENTOS DE INFO*/

.inicio-info-block {
    background: #049;
    flex: 1 1 auto;
    max-width: 30%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.inicio-info-content {
    flex: 1 1 50px;
    height: 80%;
    margin-right: 5px;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.inicio-info-title, .inicio-info-subtitle {
    margin: 0;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inicio-info-title {
    background: #fff;
    border-radius: 6px;
    color: #049;
    font-size: 0.9rem;
    font-weight: 900;
    padding: 2px;
    max-height: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.inicio-info-subtitle {
    color: #fff;
    font-size: 0.75rem;
    margin-bottom: 5px;
}

/*ELEMENTOS DE SESION*/

.inicio-session-block {
    background: #eee;
    flex: 0 1 400px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    gap: 5px;
}

.inicio-session-content {
    flex: 1 1 50px;
    height: 80%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.inicio-rol, .inicio-username {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.inicio-rol {
    margin-top: 12%;
    background: #049;
    border-radius: 6px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 900;
    padding: 12px 6px;
    max-height: 25px;
    box-sizing: border-box;
    overflow: hidden;
}

.inicio-username {
    color: #049;
    font-size: 0.75rem;
    padding: 12px 6px;
    margin: 0;
}

.inicio-avatar {
    flex: 0 0 50px;
    background: url("../img/icons/perfil.png") center / contain no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #444;
    margin: auto;
}

.inicio-link {
    flex: 1 1 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background: #940;
    border: transparent;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    max-width: 120px;
    height: 40px;
    text-align: center;
    margin: auto;
    margin-left: 10px;
    margin-right: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.inicio-link:hover {
    color: #fff;
    background-color: #900;
    box-shadow: 0 5px 10px #003;
    transform: scale(1.05);
    outline: none;
}



.main {
    flex: 0 0 70px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background: rgb(23, 138, 245);
}

.sub-main {
    flex: 0 1 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background: #024;
}

.menu-content {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0.95);
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    }

.menu-content.active {
    max-height: 500px;
    opacity: 1;
    transform: scaleY(1);
}

.menu-content a {
    display: inline-block; /* permite aplicar padding y fondo */
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #049;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-content a:hover {
    background-color: #036;
    transform: scale(1.05);
}

.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    
}

.icon:first-child {
    margin-top: 20px;
}

.icon img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.icon.active {
    border-radius: 14px;
    padding: 3px;
    box-shadow: 0 0 10px #003a;
    transform: scale(1.1);
    background-color: #025; /* leve fondo para contraste */
}

.icon.active img {
    filter: invert(100%) brightness(150%);    
}

.icon:hover img {
    filter: invert(100%) brightness(150%);
    transform: scale(1.1);
}

/*VISTAS (.CONTENT)*/

/*.CONTENT BANNER*/

.banner_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    height: 10%; /* o lo que necesites */
    background: transparent;
    margin: 0px 20px;
}

.new_user {
    flex: 0 1 70px;
    background: #090;
    font-weight: bold;
    text-align: center;
    padding: 8px 16px;
    color: #fff;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.new_user-usuario {
    margin-left: auto;
}

.new_user:hover {
    color: #090;
    border: 2px solid #090;
    background-color: #fff;
    box-shadow: 0 5px 10px #003;
    transform: scale(1.05);
    outline: none;
}

.container_table_box {
    margin: 0px auto;
    width: 95%;
    max-width: auto; /* límite superior, pero no obligatorio */
    padding: 0;
    height: 90%;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: auto;   
}



#usuarioTabla tr:nth-child(even) {
    background-color: #ddd;
}
#usuarioTabla tr:nth-child(odd) {
    background-color: #ccc;
}

#usuarioTabla td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.header {
    cursor: pointer;
    background-color: #345;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.acciones {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.icon-action img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
}

.top, .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}


.title {
    position: static;
    top: 0;
    box-shadow: 0px 2px 10px #000c;
    z-index: 2;
    background: #004;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px;
}

#usuarioTabla th {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    background-color: #345;
    color: #fff;
}

/* Contenido alineado a la izquierda */
#usuarioTabla td {
    text-align: left;
    vertical-align: middle;
    padding: 10px 15px;
    font-size: 16px;
    color: #222;
}

.header {
    position: static;
    top: 40px; /* igual a la altura de .title */
    z-index: 1;
}
.text-empty {
    background-color: #aaa;
    color: #333;
    font-style: italic;
    padding: 10px;
    text-align: center;
}


.title, .header, .text-empty {
    box-sizing: border-box;
    font-size: 16px;
    border-left: 1px solid #004;
    border-right: 1px solid #004
}


.header {
    background: #25a;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-weight: bold;
}


/*INICIO (BIENVENIDA)*/

.welcome {
    font-size: 30px;
    text-transform: uppercase;
    color: #2c3e50;           
    margin: 10px 20px;         
    font-weight: bold;
}



/*VENTANAS MODALES*/
.modal {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    min-width: 40%;
    max-width: 600px;
    padding: 20px;
    border: transparent;
    border-radius: 30px;
    background: #ddd;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideDown 0.7s ease forwards;
    z-index: 1;
}

/* Fondo oscuro de superposición */
.modal::backdrop {
    background: linear-gradient(#111c, #111 99%);
    transition: background-color 1s ease;
}

.modal:not([open]) {
    display: none;
}

/* Animación de entrada desde arriba */
@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal_title, .modal_subtitle {
    margin: 0;
    flex: 1 1 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #039;
}

.modal_subtitle {
    font-size: 18px;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 20px;
    background: #900;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.modal__close:hover {
    color: #900;
    border: 2px solid #900;
    background-color: #f55;
    box-shadow: 0 5px 10px #003;
    transform: scale(1.05);
    outline: none;
}

.modal__close-success {
    background-color: #28a745;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease;
}

.modal__close-success:hover {
    color: #28a745;
    border: 2px solid #28a745;
    background-color: #fff;
    box-shadow: 0 5px 10px #003;
    transform: scale(1.05);
    outline: none;
}

.modal_icon {
    background: url("../img/icons/success.png") center / contain no-repeat;
    text-align: center;
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: contain; /* evita distorsión */
}

.modal_success {
    z-index: 2;
    background: #ddd;
    border-radius: 30px;
    min-width: 20%;
    max-width: 350px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideDown 0.7s ease forwards;
    position: relative;
    display: visible;
}

/* Fondo oscuro */
.modal_success::backdrop {
    background: linear-gradient(#111c, #111 99%);
    transition: background-color 1s ease;
}

/* Ocultar si no está abierta */
.modal_success:not([open]) {
    display: visible;
}

/* Mensaje dentro del modal */
.modal_success-message {
    flex: 1 1 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: #28a745;
}

.modal_info {
    overflow: hidden;
    height: 807px;
}

.condition {
    position: absolute;
    top: 50px;
    left: 20px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    border: 1px solid #444;
    border-radius: 5px;
}

.register_submit {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 20px;
    background: #3a3;
    border: none;
    border-radius: 10px;
    margin-top: 235px;
    transition: all 0.3s ease;
}

.register_submit:hover {
    color: #3a3;
    border: 2px solid #3a3;
    background-color: #afa;
    box-shadow: 0 5px 10px #003;
    transform: scale(1.05);
    outline: none;
}

.user_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px; /* Espacio entre columnas */
    row-gap: 20px;    /* Espacio entre filas */
    justify-content: space-between;
    width: 500px;
    margin: 45px auto 0;
    margin-bottom: 100px;
}

.input_block_content {
    flex: 0 0 calc(50% - 20px); /* 50% menos la mitad del gap */
    max-width: calc(50% - 20px);
}

.input_label {
    display: block;
    width: 100%;
    color: #049;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 18px;
}

.input-condition {
    color: #333;
}

.input-description {
    
}

.input_text {
    position: relative;
    background: transparent;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 3px #049 solid;
    color: #049;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    transition-property: border, box-shadow, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.input_date {
    width: auto;
}

/* Estilo base para el input tipo date */
.input_date::-webkit-calendar-picker-indicator {
    background-color: transparent;
    color: #049;
    cursor: pointer;
    border: none;
    filter: invert(30%) sepia(100%) saturate(500%) hue-rotate(160deg);
    scale: 1.2;
    margin-right: 5px;
}

/* Firefox */
.input_date::-moz-focus-inner {
    border: 0;
}

/* Oculta el icono si quieres reemplazarlo manualmente */
.input_date::-webkit-inner-spin-button,
.input_date::-webkit-clear-button {
    display: none;
}


.input_select {
    background: transparent;
    width: auto;
    height: 48px;
    padding: 10px;
    border-radius: 10px;
    border: 3px #049 solid;
    color: #049;
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    appearance: none; /* Oculta el estilo nativo del navegador */
    transition-property: border, box-shadow, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.input_select-cedula {
    height: 100%;
    border: transparent;
    font-weight: 900;
}

.input_select-cedula:hover {
    background-color: #bbb;
}

.input_password {
    margin: 2px 0 0 0;
    border: transparent;
    height: 80%;
    color: #049;
    width: 80%;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
}

.input_file {
    display: none;
}

.foto_perfil_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.foto_perfil_wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eee;
    border: 2px solid #999;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.foto_perfil_wrapper:hover {
    border: 2px solid #04a;
    background-color: #bbb;
    box-shadow: 0 5px 10px #003;
    transform: scale(1.05);
    outline: none;
}

.foto_perfil_icon {
    font-size: 32px;
    color: #039;
    font-weight: bold;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: absolute;
}

.foto_perfil_imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: none;
}
    

.input_text:focus-within{
    border: 3px solid #04a;
    box-shadow: 0 5px 10px #003;
    outline: none;
    transform: scale(1.05);
}

