/*GENERAL*/

body {
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.form-resultado {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #600;
}

/*LOGIN*/

.login_background {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(transparent, #029 90%), url(../img/fondo1.jpg) center / cover;
}

.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #fffb;
    padding: 20px;
    width: 40vw;
    box-shadow: 0 10px 15px 8px;
    min-width: 300px;
    max-width: 400px;
}

.login_title {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #039;
    padding: 0 30px;
}

.login_fieldset {
    margin: auto;
    border-radius: 30px;
    border: 2px solid #003;
    margin: 0 10px;
    height: 80%;
    width: 90%;
}

.login_block_content {
    width: 93%;
    margin: 20px 0;
}

.login_label {
    display: block;
    width: 100%;
    color: #049;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 18px;
}

.login_input {
    position: relative;
    background: transparent;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 3px #049 solid;
    color: #049;
    padding-left: 10px;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    transition-property: border, box-shadow, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.login_input:focus-within {
    border: 3px solid #04a;
    box-shadow: 0 5px 10px #003;
    outline: none;
    transform: scale(1.05);
}

.login_password {
    margin: 2px 0 0 0;
    border: transparent;
    height: 80%;
    color: #049;
    width: 80%;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
}

.login_password:focus {
    border: transparent;
    outline: none;
}
.eye-icon {
    position: absolute;
    top: 20%;
    left: 85%;
    background: url('../img/icons/eye.png') center / contain no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;    /* permite que se comporte como un ícono */
    cursor: pointer;
}

#error-container {
    display: block;
    margin-right: 5px;
    margin-left: 5px;
    padding: 18px 0;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    color: #600;
    background-color: #f88;
    text-align: center;
}

#error-container:empty {
    display: none;
}

.login_submit {
    display: block;
    margin: 10px auto 0 auto;
    cursor: pointer;
    width: 98%;
    height: 45px;
    border: 3px solid #049;
    border-radius: 10px;
    background: #049;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition-property: background, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.login_submit:hover {
    background: #029;
    box-shadow: 0 5px 10px #003;
}

.login_submit:active {
    background: #fff;
    color: #039;
    border: 3px solid #039;
}

.login_link {
    text-decoration: none;
    color: #049;
    display: block;
    margin-top: 10px;
    text-align: center;
}

.login_link:hover {
    text-decoration: underline;
}

/*------INICIO---------*/

.inicio-background {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/*ELEMENTOS DEL BANNER*/

.inicio-banner {
    flex: 1 1 100vw;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 4px 10px #003;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
}

.main-container {
    flex: 0 1 20%;
    min-width: 150px;
    height: 90%;
    width: 20%;
    max-width: 250px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    overflow: hidden;
}


.content {
    flex: 1 1 80%;
    min-width: 100px;
    background: #fff;
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    
}



/*ELEMENTOS DEL TITULO*/

.inicio-title-block {
    background: #049;
    flex: 1 1 35%;
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inicio-icon {
    flex: 0 1 50%;
    height: 100%;
    margin: 0 5px;
    background: url("../img/logo-uni.png") center / contain no-repeat;
}

.inicio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50px;
    border: 0.4vw solid #fff;
    border-radius: 14px;
    color: #fff;
    text-transform: uppercase;
    font-size: 3vw;
    min-width: auto;
    max-width: 100%;
    overflow: hidden;
    margin: 0 3px;
}

/*ELEMENTOS DE INFO*/

.inicio-info-block {
    background: #049;
    flex: 1 1 auto;
    max-width: 30%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.inicio-info-content {
    flex: 1 1 50px;
    height: 80%;
    margin-right: 5px;
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.inicio-info-title, .inicio-info-subtitle {
    margin: 0;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.inicio-info-title {
    background: #fff;
    border-radius: 6px;
    color: #049;
    font-size: 0.9rem;
    font-weight: 900;
    padding: 2px;
    max-height: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.inicio-info-subtitle {
    color: #fff;
    font-size: 0.75rem;
    margin-bottom: 5px;
}

/*ELEMENTOS DE SESION*/

.inicio-session-block {
    background: #eee;
    flex: 0 1 400px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    gap: 5px;
}

.inicio-session-content {
    flex: 1 1 50px;
    height: 80%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.inicio-rol, .inicio-username {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.inicio-rol {
    margin-top: 12%;
    background: #049;
    border-radius: 6px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 900;
    padding: 12px 6px;
    max-height: 25px;
    box-sizing: border-box;
    overflow: hidden;
}

.inicio-username {
    color: #049;
    font-size: 0.75rem;
    padding: 12px 6px;
    margin: 0;
}

.inicio-avatar {
    flex: 0 0 50px;
    background: url("../img/icons/perfil.png") center / contain no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #444;
    margin: auto;
}

.inicio-link {
    flex: 1 1 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background: #940;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    max-width: 120px;
    height: 40px;
    text-align: center;
    margin: auto;
    margin-left: 10px;
    margin-right: 4px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.inicio-link:hover {
    background: #800;
    transform: scale(1.05);
}



.main {
    flex: 0 0 70px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background: rgb(23, 138, 245);
}

.sub-main {
    flex: 0 1 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: start;
    gap: 20px;
    background: #024;
}

.menu-content {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0.95);
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    }

.menu-content.active {
    max-height: 500px;
    opacity: 1;
    transform: scaleY(1);
}

.menu-content a {
    display: inline-block; /* permite aplicar padding y fondo */
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #049;
    padding: 3px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-content a:hover {
    background-color: #036;
    transform: scale(1.05);
}

.icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    
}

.icon:first-child {
    margin-top: 20px;
}

.icon img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.icon.active {
    border-radius: 14px;
    padding: 3px;
    box-shadow: 0 0 10px #003a;
    transform: scale(1.1);
    background-color: #025; /* leve fondo para contraste */
}

.icon.active img {
    filter: invert(100%) brightness(150%);    
}

.icon:hover img {
    filter: invert(100%) brightness(150%);
    transform: scale(1.1);
}

/*VISTAS (.CONTENT)*/

/*.CONTENT BANNER*/

.banner_list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    flex: 1 1 100%;
    min-height: 10%;
    background: transparent;
    gap: 4px;
}

.grid {
    margin: 10px 20px;
    border: 5px solid #049;
    border-radius: 10px;
    flex: 1 1 100px;
    background: #fff;
    min-height: 80%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 40px 50px;
    grid-auto-rows: 60px;
    overflow: auto;
}

.paginador {
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 10%;
}

.row {
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 2px solid #049;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 16px;
}

.row:nth-child(even) { background: #bbb; }
.row:nth-child(odd)  { background: #aaa; }

.icon-action {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.icon-action img {
    width: 24px;
    height: 24px;
    object-fit: contain; /* evita distorsión */
    cursor: pointer;
}

.actualizar {
    background: url("../img/icons/actualizar.png") center / contain no-repeat;
}

.info {
    background: url("../img/icons/info.png") center / contain no-repeat;
}

.eliminar {
    background: url("../img/icons/eliminar.png") center / contain no-repeat;
}

.title {
    position: sticky;
    top: 0;
    box-shadow: 0px 2px 10px #000c;
    z-index: 2;
}

.header {
    position: sticky;
    top: 40px; /* igual a la altura de .title */
    z-index: 1;
}


.title, .header, .text-empty {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-left: 1px solid #004;
    border-right: 1px solid #004
}

.grid-usuario {
    grid-template-columns: auto repeat(5, 3fr) repeat(2, auto);
}

.title-usuario, .text-empty {
    grid-column: 1 / 9;
}

.title-usuario {
    background: #004;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}

.header {
    background: #25a;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-weight: bold;
}

.text-empty {
    background-color: #aaa;
}

.new {
    flex: 0 1 70px;
    background: #090;
    font-weight: bold;
    text-align: center;
    padding: 6px 10px;
    color: #fff;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out; /* Transición suave de fondo */
}

.new:hover {
    background: #070;
}


.order {
    flex: 0 1 100px;
    background: #049;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.order:hover {
    background: #04f;
}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_buscar {
    padding: 6px 10px;
    border: 2px solid #029;
    border-radius: 5px;
}

.buscar {
    background: #029;
    border-radius: 5px;
    padding: 2px 2px 0 0;
    cursor: pointer;
    border: none;
    margin-right: 20px;
}

.buscar img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    padding: 0 10px;
}


/*INICIO (BIENVENIDA)*/

.welcome {
    font-size: 30px;
    text-transform: uppercase;
    color: #2c3e50;           
    margin: 10px 20px;         
    font-weight: bold;
}
