/*GENERAL*/

body {
    margin: 0;
    font-family: sans-serif;
}

/*LOGIN*/

.login_background {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(#000, #733), url() center / cover;
    
}

.login_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #822;
    height: 30vh;
    width: 50vw;
}

.login_title {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    color: #ddd;
}

.login_fieldset {
    border-radius: 20px;
    margin: 0 10px;
    height: 80%;
}

.login_block_content {

}

.login_label {

}

.login_input {

}

.login_submit {

}

.login_link {
    text-decoration: none;
}